/*GENERAL*/

:root {

    --  Polices
    --  Logo et titres : Shrikhand
    -- Texte : Roboto
    --Couleurs: 
    -- Primaire   #9356DC 
    -- Secondaire #FF79
    -- Tertiaire #99E2D0
               
   }
   
   
   header img
   
       display: flex;
       width: 197px;
       height: 36px;
       padding: 0px 19px 0px 16px;
       justify-content: center;
       align-items: center;
       flex-shrink: 0; 
   
   
   
   
