/*GENERAL*/
body {
    margin: 0;
    font-family: "Roboto";
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo img {
        padding: 14px 0;
    }

    .localisation {
        background-color: #eaeaea;
        display: flex;
        padding: 15px 0;
        width: 100%;
        justify-content: center;
        gap: 17px;

        .img {
            width: 12px;
        }

        p {
            margin: 0;
            font-size: 16px;
        }
    }
}

.section-titre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding: 39px 0;

    h1 {
        margin: 0;
    }

    button {
        border-radius: 25px;
        color: white;
        font-size: 16px;
        background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        padding: 13px 18px;
        border: none;
    }

    p {
        font-weight: lighter;
    }
}